<article class="message-card">
  <div>
    <p class="message-avatar">
      <%= msg.first_name.charAt(0)+msg.last_name.charAt(0) %>
    </p>
  </div>
  <div class="message-content">
    <div class="message-title-row">
      <h2 class="message-title"><%= msg.title %></h2>
      <% if(user?.is_admin){ %>
      <form
        action="/msg/<%= msg.id %>/delete"
        method="post"
        class="delete-form"
      >
        <button type="submit" class="button-danger">Delete</button>
      </form>
      <% } %>
    </div>
    <p class="message-text"><%= msg.text %></p>
    <div class="message-meta">
      <p>
        <span class="meta-label">From:</span>
        <%= user?.is_member ? msg.first_name + " " + msg.last_name : "*****" %>
      </p>
      <p>
        <span class="meta-label">Sent:</span>
        <%= user?.is_member ? msg.created_at : "*****" %>
      </p>
    </div>
  </div>
</article>
